html {
  background-color: gray;
  font-family: monospace;
  font-size: 20px;
}

body {
  padding: 1rem;
  margin: 0 auto;
  max-width: 640px;
}

a {
  color: blue;
}

body {
  background-color: #5f804f;
}
